<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Plants.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3ADDEE61D34221500E36034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3ADDEFE1D34221500E36034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3ADDF091D34221500E36034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
